.booking {
    min-height: 555px;
    background-color: $color-solitude;

    background-image: url("../img/content/booking-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    & .container {
        position: relative;
        min-height: 555px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include vp-1023 {
          min-height: auto;
        }
    }

    @include retina {
        background-image: url("../img/content/booking-desktop@2x.jpg");
    }

    @include vp-1023 {
        min-height: 805px;
        padding-top: 70px;
        padding-bottom: 71px;

        background-image: url("../img/content/booking-tablet.jpg");

        @include retina {
            background-image: url("../img/content/booking-tablet@2x.jpg");
        }
    }
    @include vp-767 {
        min-height: 760px;
        padding-top: 40px;
        padding-bottom: 65px;

        background-image: url("../img/content/booking-mobile.jpg");

        @include retina {
            background-image: url("../img/content/booking-mobile.jpg");
        }
    }
}

.booking__title {
    margin: -8px 0 7px 60px;
    padding: 0;
    max-width: 43%;

    font: 700 40px/150% $ff-montserrat;
    color: $color-tangaroa;

    @include vp-1023 {
        margin: 19px auto 5px;
        max-width: none;

        text-align: center;
        font: 700 34px/150% $ff-montserrat;
    }

    @include vp-767 {
        br  {
            display: none;
        }
        margin-bottom: 15px;
        font: 700 24px/130% $ff-montserrat;
    }
}

.booking__description {
    margin: 0 0 0 60px;
    padding: 0;
    max-width: 40%;

    font: 400 18px/150% $ff-montserrat;
    color: $color-tangaroa;

    br:not(:nth-child(2)) {
      display: none;

      @include vp-767 {
        display: block;
      }
    }

    br:nth-child(2) {
      display: block;

      @include vp-767 {
        display: none;
      }
    }

    @include vp-1023 {
        margin: 0 auto 52px;
        max-width: none;

        text-align: center;
    }

    @include vp-767 {
        margin: 0 auto 33px;

        font: 400 16px/140% $ff-montserrat;
    }
}

.booking__form {
    position: absolute;
    top: 50%;
    right: 12%;
    transform: translateY(-50%);

    @include vp-1023 {
        position: static;
        transform: translateY(0);

        margin: 0 auto;
        width: 59.3%;
        max-width: none;
    }

    @include vp-767 {
        width: 100%;
        max-width: $mcw-mobile;
    }
}
