.contacts {
    padding-top: 120px;
    padding-bottom: 120px;

    @include vp-1023 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @include vp-767 {
        padding-top: 58px;
        padding-bottom: 58px;
    }

    .container {
        display: flex;
        flex-wrap: nowrap;
        gap: 100px;

        @include vp-1023 {
            gap: 30px;
        }

        @include vp-767 {
            flex-direction: column;
            gap: 43px;
        }
    }
}

.contacts__map {
    width: 560px;
    height: 306px;
    background-color: $color-solitude;

    @include vp-1023 {
        flex-shrink: 0;
        width: 48%;
        height: 335px;
    }

    @include vp-767 {
        width: 100%;
        height: 316px;

        order: 2;
    }

    iframe {
        width: 100%;
        height: 306px;
        border: none;

        @include vp-1023 {
            height: 335px;
        }

        @include vp-767 {
            height: 316px;
        }
    }
}

.contacts__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts__heading {
    margin: 0 0 32px;
    padding: 0;
    color: $color-tangaroa;
    font: 500 18px/150% $ff-montserrat;

    @include vp-1023 {
      margin: 0 0 26px;

      br {
        display: none;
      }
    }
}

.contacts__address {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 22px;
    padding: 0;

    color: $color-tangaroa;
    font: 400 16px/150% $ff-montserrat;
    font-style: normal;

    svg {
        margin-right: 10px;
        flex-shrink: 0;

        @include vp-1023 {
          width: 18px;
          height: 22px;
        }
    }
}

.contacts__tel {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    color: $color-tangaroa;
    font: 400 16px/150% $ff-montserrat;

    svg {
        margin-right: 10px;
    }
}
