.form {
    display: flex;
    flex-direction: column;

    padding: 47px 50px;
    background-color: $color-tangaroa;
    color: $color-default-white;

    @include vp-1023 {
        padding: 46px 52px;
    }

    @include vp-767 {
        padding: 36px 30px;
    }
}

.form__heading {
    margin: 0 0 25px;
    padding: 0;

    font: 500 18px/150% $ff-montserrat;

    @include vp-767 {
        br {
            display: none;
        }

        margin-bottom: 27px;
        text-align: center;
        font: 500 18px/140% $ff-montserrat;
    }
}

.form__input {
    margin: 0 0 20px;
    padding: 11px 16px;
    height: 43px;
    border: none;

    font: 400 14px/150% $ff-montserrat;
    color: $color-tangaroa;

    &:focus {
      outline: 2px solid $color-solitude;
    }

    &::placeholder {
        color: $color-tangaroa;
        opacity: 0.7;
    }
}

.form__checkbox-label {
    margin-bottom: 30px;
    min-height: 18px;
    position: relative;
    display: flex;
    align-items: center;

    cursor: pointer;

    @include vp-767 {
      margin-bottom: 25px;
        min-height: 20px;
    }
}
.form__checkbox {
    position: absolute;
    appearance: none;

    &-box {
        position: absolute;
        width: 18px;
        height: 18px;
        border: none;
        background-color: $color-default-white;

        @include vp-767 {
            width: 20px;
            height: 20px;
        }
    }

    &:checked + &-box::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 3px;
        width: 12px;
        height: 8px;
        background-image: url("../img/svg/checkbox-flag.svg");
        background-repeat: no-repeat;
        background-color: $color-default-white;

        @include vp-767 {
            top: 6px;
            left: 4px;
        }
    }

    &:focus + &-box {
      outline: 2px solid $color-solitude;
    }
}

.form__checkbox-label-text {
    margin-left: 23px;
    font: 400 10px/130% $ff-montserrat;

    @include vp-767 {
        margin-left: 28px;
        font: 400 10px/120% $ff-montserrat;
    }
}
