.main-nav {
    margin-top: 35px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav__logo {
    width: 70px;
    height: 38px;
    margin-right: 40px;

    @include vp-1365 {
        width: 38px;
        height: 20px;
    }

    @include vp-767 {
        align-self: flex-start;
        width: 42px;
        height: 22px;
    }

    img {
        display: inline-block;
        vertical-align: middle;
        max-width: max-content;

        width: 70px;
        height: 38px;

        @include vp-1365 {
            width: 38px;
            height: 20px;
            }

        @include vp-767 {
            width: 42px;
            height: 22px;
            }
    }
}

.main-nav__list {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include vp-767 {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.main-nav__item {
    text-align: right;


    &:not(:last-child) {
        margin-right: 33px;

        @include vp-1365 {
            margin-right: 23px;
        }

        @include vp-767 {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}

.main-nav__link {
    font: 500 16px/19.2px $ff-montserrat;
    color: $color-alice-blue;

    @include vp-1365 {
        font: 14px/16.8px $ff-montserrat;
    }

    @include vp-767 {
        font: 18px/21.6px $ff-montserrat;
    }
}
