.page-header {
    min-height: 650px;
    position: relative;
    background-color: $color-solitude;
    background-image: url('../img/content/header-bg-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include retina {
        background-image: url('../img/content/header-bg-desktop@2x.jpg');
    }

    @include vp-1365 {
        min-height: 638px;
        background-image: url('../img/content/header-bg-tablet.jpg');

        @include retina {
            background-image: url('../img/content/header-bg-tablet@2x.jpg');
        }
    }

    @include vp-767 {
        min-height: 500px;
        background-image: url('../img/content/header-bg-mobile.jpg');

        @include retina {
            background-image: url('../img/content/header-bg-mobile@2x.jpg');
        }
    }
}

.page-header__title {
    margin-top: 210px;
    margin-bottom: 30px;
    margin-left: 95px;

    font: 700 54px/64.8px $ff-montserrat;
    color: $color-alice-blue;
    text-align: left;

    br {
        display: none;
    }

    @include vp-1365 {
        margin-left: 0;
        margin-top: 230px;

        font: 700 50px/60px $ff-montserrat;
    }

    @include vp-767 {
        margin-left: 0;
        margin-top: 143px;
        margin-bottom: 25px;

        font: 700 36px/45px $ff-montserrat;

        br {
            display: block;
        }
    }
}

.page-header__description {
    margin: 0 0 30px 95px;
    padding: 0;

    font: 400 20px/24px $ff-montserrat;
    color: $color-alice-blue;
    text-align: left;

    br {
        display: none;
    }

    @include vp-1365 {
        margin-left: 0;
        font: 400 18px/21.6px $ff-montserrat;
    }

    @include vp-767 {
        margin-left: 0;
        font: 400 16px/22.4px $ff-montserrat;

        br {
            display: block;
        }
    }
}
